@import "tailwindcss";

@theme {
  --color-primary: #f2d00d;
  --color-background-light: #f8f8f5;
  --color-background-dark: #221f10;
  --font-display: "Work Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display transition-colors duration-300;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
